<header></header>
<div>
<div class="headline-bg contact-headline-bg">
</div>
<section class="contact-section section section-on-bg">
    <div class="container">
        <h2 class="title text-center">Contact Us</h2>
        <p class="intro text-center">We’d love to hear from you</p>
        <form id="contact-form" class="contact-form" method="post" action="" novalidate="novalidate">
            <div class="row text-center">
                <div class="contact-form-inner col-md-offset-2 col-sm-offset-0 xs-offset-0 col-xs-12 col-md-8">
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6">
                            <label class="sr-only" for="cname">Your name</label>
                            <input type="text" class="form-control" id="cname" name="name" placeholder="Your name" minlength="2" required="" aria-required="true">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label class="sr-only" for="cemail">Email address</label>
                            <input type="email" class="form-control" id="cemail" name="email" placeholder="Your email address" required="" aria-required="true">
                        </div>
                        <div class="form-group col-xs-12">
                            <label class="sr-only" for="cmessage">Your message</label>
                            <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="12" required="" aria-required="true"></textarea>
                        </div>
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-block btn-cta btn-cta-primary">Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="form-messages"></div>
        </form>
    </div>
</section>
</div>
<footer></footer>